---
export interface Props {
  name: string;
  icon?: string;
  size?: number;
}

const { icon, size = 18 } = Astro.props;

const icons: Record<string, string> = {
  github: `<path d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z"/>`,
  twitter: `<path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>`,
  weibo: `<path d="M10.098 20.323c-3.977.391-7.414-1.406-7.672-4.02-.259-2.609 2.759-5.047 6.74-5.441 3.979-.394 7.413 1.404 7.671 4.018.259 2.6-2.759 5.049-6.739 5.443zm-1.2-10.18c-3.23.534-5.383 2.82-4.807 5.106.575 2.28 3.695 3.702 6.93 3.168 3.233-.535 5.38-2.82 4.806-5.106-.575-2.285-3.699-3.702-6.93-3.168zM19.434.594c-1.512-.606-2.89-.234-3.684.69-.631.73-.724 1.683-.24 2.184.366.378.945.444 1.452.21.534-.246.864-.429 1.392-.261.462.147.789.468.939.918.288.876.372 1.995-.72 2.598-.507.282-.648.864-.324 1.332.327.465.888.582 1.401.3 2.064-1.128 2.445-3.048 2.016-4.359-.444-1.356-1.434-2.274-2.232-2.612z"/>`,
  bilibili: `<path d="M17.246 3H14.82l.254-.864a2.448 2.448 0 0 0-1.722-3.06 2.394 2.394 0 0 0-3.012 1.59l-.006.024L10.014 3H7.434a2.394 2.394 0 0 0-2.394 2.394v3.654l-.75-.582a1.848 1.848 0 0 0-2.574.27l-1.326 1.71a1.854 1.854 0 0 0 .27 2.58l.732.57v2.664a2.394 2.394 0 0 0 2.394 2.394h1.116l.396 1.5a2.394 2.394 0 0 0 2.328 1.848h7.038a2.394 2.394 0 0 0 2.328-1.848l.396-1.5h1.116a2.394 2.394 0 0 0 2.394-2.394V12.36l.738-.576a1.848 1.848 0 0 0 .264-2.574l-1.326-1.71a1.854 1.854 0 0 0-2.574-.27l-.756.588V5.394A2.394 2.394 0 0 0 17.246 3zM9.12 5.022l.006-.024a.894.894 0 0 1 1.092-.678.87.87 0 0 1 .672 1.092L10.314 7.5H9.102V5.394a.42.42 0 0 1 .018-.372zm5.316 0a.894.894 0 0 1 1.092-.678.87.87 0 0 1 .672 1.092L15.63 7.5h-1.212V5.394a.42.42 0 0 1 .018-.372zm-5.55 7.452c-1.008 0-1.824.816-1.824 1.824s.816 1.824 1.824 1.824 1.824-.816 1.824-1.824-.816-1.824-1.824-1.824zm4.608 0c-1.008 0-1.824.816-1.824 1.824s.816 1.824 1.824 1.824 1.824-.816 1.824-1.824-.816-1.824-1.824-1.824z"/>`,
  pencil: `<path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"/>`,
  home: `<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/>`,
  link: `<path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/>`,
  mail: `<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><polyline points="22,6 12,13 2,6"/>`,
  image: `<rect x="3" y="3" width="18" height="18" rx="2" ry="2"/><circle cx="8.5" cy="8.5" r="1.5"/><polyline points="21 15 16 10 5 21"/>`,
  user: `<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/>`,
  "file-text": `<path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/><polyline points="14 2 14 8 20 8"/><line x1="16" y1="13" x2="8" y2="13"/><line x1="16" y1="17" x2="8" y2="17"/><polyline points="10 9 9 9 8 9"/>`,
};

const key = (icon || name.toLowerCase()).replace(/[\s\-]/g, "");
const pathData = icons[key];
---

{
  pathData
    ? <svg width={size} height={size} viewBox="0 0 24 24" fill="currentColor" stroke="none"><Fragment set:html={pathData} /></svg>
    : <span class="text-xs font-heading">{name.charAt(0)}</span>
}
