---
import config from "virtual:site-config";
const { twikoo } = config.comments;
const twikooCDN = config.cdnOverrides?.twikoo || "https://cdn.jsdelivr.net/npm/twikoo@1.6.41/dist/twikoo.all.min.js";
const envId = twikoo?.envId || "";
const region = twikoo?.region || "";
---

{
  twikoo && (
    <>
      <div id="twikoo-comments" class="min-h-[200px]"></div>
      <script define:vars={{ twikooCDN, envId, region }}>
        const s = document.createElement("script");
        s.src = twikooCDN;
        s.onload = () => {
          // @ts-ignore
          twikoo.init({ envId, region });
        };
        document.head.appendChild(s);
      </script>
    </>
  )
}
